/****************
Reset
****************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Palanquin:400,700);
@import url(https://fonts.googleapis.com/css?family=Orbitron:400,700|Roboto:400,700italic,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/*body {
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}*/
ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: none; }

strong {
  font-weight: bold; }

/* micro clear fix */
.grouping:before,
.grouping:after {
  content: " ";
  display: table; }

.grouping:after {
  clear: both; }

img, iframe, video, object {
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*------------end reset.scss-------------------*/
/* typography ---------------------- */
/* font-family 'Palanquin' sans serif */
/* colors */
/* ------ */
body {
  font-family: Roboto, Arial, Sans-Serif;
  font-size: 14px;
  font-weight: 400; }

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #16174f; }

h2 {
  font-size: 32px;
  font-weight: Normal;
  color: #963019; }

h3 {
  font-size: 25px;
  font-weight: Normal;
  color: #667467; }

h4 {
  font-size: 18px;
  font-weight: Normal;
  color: #667467; }

/* typography ---------------------- */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.clear {
  clear: both; }

.bold {
  font-weight: bold; }

.hidden,
.hide {
  display: none; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.text-centered {
  text-align: center; }

.space-left {
  margin-left: 10px; }

.space-right {
  margin-right: 10px; }

.columnLeft {
  width: 50%;
  float: left;
  padding: 10px; }

.columnRight {
  width: 50%;
  float: right;
  padding: 10px; }

.red-color {
  background-color: #963019;
  color: #f6f1ed; }

.red-content {
  color: #963019; }

.green-content {
  color: #667467; }

.white-content {
  color: white; }

.blue-content {
  color: #16174f; }

.green-color {
  background-color: #667467;
  color: #f6f1ed; }

.reverse-red-color {
  background-color: #f6f1ed;
  color: #963019; }

.reverse-green-color {
  background-color: #f6f1ed;
  color: #667467; }

.row {
  clear: both;
  margin-top: 25px; }

ul.basic-list {
  list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><circle fill="#963019" cx="5" cy="5" r="4"/></svg>');
  color: #16174f; }

em {
  font-family: Orbitron, Arial, Sans-Serif;
  font-size: 12px;
  font-weight: 400;
  font-style: italic; }

b {
  font-family: Roboto, Arial, Sans-Serif;
  font-size: 14px;
  font-weight: 700; }

.icon.icon-large {
  font-size: 24px;
  position: relative;
  top: 5px; }

.icon.icon-small {
  font-size: 18px;
  position: relative;
  top: 1px; }

.well {
  background-color: #f6f1ed;
  position: relative;
  border: 3px solid white;
  border-radius: 10px 10px;
  padding: 15px; }

.form input, .form select radio, .form fieldset {
  display: inline-table;
  margin: 5px;
  padding: 5px; }
  .form input.btn, .form select radio.btn, .form fieldset.btn {
    padding: 0 16px;
    vertical-align: center; }

.form label {
  color: #667467; }

.form input[type=text], .form textarea, .form select, .form radio, .form radioGroup, .form input[type=submit] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #667467;
  height: 25px; }

.form input[type=text]:focus, .form textarea:focus, .form select:focus, .form radio:focus, .form radioGroup:focus, .form input[type=submit]:focus {
  box-shadow: 0 0 5px #963019;
  border: 1px solid #963019; }

.form.inline-form fieldset {
  border: thin solid #667467; }

nav.topMenu {
  float: right;
  margin-top: 15px;
  z-index: 200px; }
  nav.topMenu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    /*=== submenu ===*/
    /*=== submenu ===*/ }
    nav.topMenu ul li {
      float: left;
      width: 165px;
      position: relative;
      height: 35px;
      text-align: center; }
      nav.topMenu ul li aside {
        border-right: thin solid #f6f1ed;
        opacity: 0.7;
        cursor: pointer; }
        nav.topMenu ul li aside:hover {
          color: #f6f1ed;
          opacity: 1; }
        nav.topMenu ul li aside span.ui-icon {
          display: inline-table;
          margin-right: 5px;
          float: right; }
      nav.topMenu ul li a {
        color: #fff;
        opacity: 0.7;
        display: block;
        border-right: thin solid #f6f1ed;
        text-decoration: none; }
        nav.topMenu ul li a:hover {
          color: #f6f1ed;
          opacity: 1; }
      nav.topMenu ul li:last-child a {
        border-right: none; }
    nav.topMenu ul ul {
      display: none;
      position: absolute; }
      nav.topMenu ul ul.show {
        display: block; }
      nav.topMenu ul ul li {
        width: 165px;
        position: relative;
        text-align: left;
        background-color: #16174f;
        /* sub sub menu */
        /* sub sub menu */ }
        nav.topMenu ul ul li a {
          margin-left: 8px;
          border: none; }
        nav.topMenu ul ul li aside {
          border-right: none;
          margin-left: 10px;
          margin-top: 7px; }
        nav.topMenu ul ul li ul {
          position: relative;
          display: none;
          left: 165px;
          top: -15px; }
          nav.topMenu ul ul li ul .show {
            display: block; }
      nav.topMenu ul ul a {
        display: block;
        height: 35px;
        padding: 7px 8px;
        color: #fff;
        opacity: 0.7;
        text-decoration: none;
        border-top: thin solid #f6f1ed;
        border-right: none; }
      nav.topMenu ul ul li a:hover {
        color: #f6f1ed;
        opacity: 1; }

.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse; }
  .table caption {
    margin-bottom: 5px; }
  .table thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit; }
    .table thead tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit; }
      .table thead tr th {
        vertical-align: bottom;
        background-color: #667467;
        color: #f6f1ed;
        border: thin solid #667467; }
  .table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit; }
    .table tbody th {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border: 1px solid #667467; }
    .table tbody td {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border: 1px solid #667467; }
  .table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f6f1ed; }

.btn {
  outline: none;
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-style: none;
  background-color: #f6f1ed;
  cursor: pointer;
  color: white; }
  .btn.btn-small {
    font-size: 12px;
    padding: 2px 10px; }
  .btn.btn-large {
    font-size: 18px; }
  .btn.btn-primary {
    background-color: #16174f; }
    .btn.btn-primary:hover {
      background-color: #3e48d1; }
  .btn.btn-inverse {
    background-color: #f6f1ed;
    color: #667467;
    border: solid #667467 1px; }
    .btn.btn-inverse:hover {
      background-color: #e0cec0;
      color: #f6f1ed; }
  .btn.btn-red {
    background-color: #963019; }
    .btn.btn-red:hover {
      background-color: #d64120; }

body {
  margin: 40px; }

#listContainer {
  background-color: white;
  padding: 10px;
  margin: 50px auto auto auto;
  width: 100%; }
  #listContainer h3 {
    font-family: graphikExtralight,Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-weight: 100; }
  #listContainer .entryContainer {
    width: 500px;
    border: double blue; }
    #listContainer .entryContainer .search {
      opacity: .5;
      float: right;
      font-size: 30px;
      margin-right: 5px; }
    #listContainer .entryContainer .itemList {
      height: 300px;
      overflow: auto;
      padding: 0px;
      margin: 0px; }
      #listContainer .entryContainer .itemList .itemListItem {
        background-color: white;
        font-family: graphikExtralight,Helvetica,Arial,sans-serif;
        font-size: 20px;
        font-weight: 200;
        height: 50px;
        border-bottom: thin solid #ccc;
        padding-left: 10px;
        padding-top: 10px;
        cursor: pointer; }
        #listContainer .entryContainer .itemList .itemListItem.itemSelected {
          opacity: 0.2;
          cursor: not-allowed; }
        #listContainer .entryContainer .itemList .itemListItem.itemHidden {
          display: none; }
    #listContainer .entryContainer .entryBoxContainerBackground {
      background-color: #aaa;
      padding: 5px; }
    #listContainer .entryContainer .entryBoxContainer {
      background-color: white;
      height: 35px; }
    #listContainer .entryContainer .entry {
      float: left;
      background-color: #FFF;
      min-height: 30px;
      margin-top: 1px;
      height: 30px;
      width: 92%;
      font-family: graphikExtralight,Helvetica,Arial,sans-serif;
      font-size: 1.8em;
      font-weight: 100;
      border: none; }
  #listContainer #comparisonContainer {
    width: 100%;
    background-color: white;
    margin: auto auto; }
    #listContainer #comparisonContainer td {
      padding: 10px; }
    #listContainer #comparisonContainer #compareButtonContainer {
      text-align: right; }
    #listContainer #comparisonContainer #vsText {
      vertical-align: middle;
      font-size: 36px;
      text-align: center;
      width: 10%; }
  #listContainer .compareButton {
    background: none repeat scroll 0 0 #00aeef;
    border: 0;
    border-radius: .3em;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1em;
    margin-right: 20px;
    padding: 10px;
    float: right; }
    #listContainer .compareButton.buttonDisabled {
      opacity: 0.4;
      cursor: not-allowed; }

.comparison-modal .modal-row {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px; }

.comparison-modal .modal-cancel-link {
  color: #16174f;
  float: right;
  cursor: pointer;
  margin: 10px 10px; }
  .comparison-modal .modal-cancel-link:hover {
    color: #00aeef;
    text-decoration: underline; }

.comparison-modal .modal-bkgMask {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 5; }
  .comparison-modal .modal-bkgMask.modal-hidden {
    display: none; }

.comparison-modal .modal {
  width: 60%;
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 1em;
  background: white;
  overflow: hidden;
  font-family: GraphikRegular, arial, sans-serif; }
  .comparison-modal .modal .modal-anim-enter {
    opacity: 0.00;
    transform: scale(0.7);
    transition: all 0.2s; }
  .comparison-modal .modal .modalContent {
    width: 70%;
    margin: 20px auto;
    padding: 20px 5px; }
  .comparison-modal .modal .modalHeader {
    background-color: #667467;
    color: white;
    height: 55px;
    padding: 10px; }
    .comparison-modal .modal .modalHeader .btnClose {
      border: 1px solid white;
      float: right;
      padding: 10px;
      margin-top: -5px;
      margin-bottom: 5px;
      cursor: pointer; }
      .comparison-modal .modal .modalHeader .btnClose:hover {
        text-decoration: underline;
        background-color: #963019; }
  .comparison-modal .modal .modal-anim-enter.modal-anim-enter-active {
    opacity: 1;
    transform: scale(1); }
  .comparison-modal .modal .modal-anim-leave {
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s; }
  .comparison-modal .modal .modal-anim-leave.modal-anim-leave-active {
    opacity: 0.00;
    transform: scale(0.7); }
